* {
	margin: 0;
	padding: 0;
}

html, body, #map-canvas {
	height: 100%;
}

#map-canvas {
	z-index: 3;
}

#legend {
	background: white;
	padding: 10px;
	margin: 10px;
}

#legend_title {
	font-weight: bold;
}
